<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
      *{
          margin: 0;
      }
    .el-container{
      height: 100%;
    }
    .el-pagination{
    text-align: right;
    }
    .el-header{
      background-color: #fff;
      box-shadow: 0 5px 10px 5px rgba(199, 199, 199, 0.3);
      /* text-align:right; */
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-height: 92px;
    }
    .el-aside{
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0 0 0 1px #D9D9D9;
      z-index: 100;
      height: 100vh;
    }
    .logo{
      font-size: 38px;
      color: #FF6900;
      margin-top: 30px;
    }
    .logo_image{
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-top: 30px;
    }
    .btn_area{
      margin-top: 10px;
    
    }
    .el-menu{
      width: 100%;
    }
    .logo_top{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px;
    }
    .div_left{
      margin-right: 20px;
    }
    /* 页面样式 */
    ql-editor{
    min-height: 300px;
}
.upload-demo{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
}
.left_fix{
    margin-left: 40px;
    margin-bottom: 40px;
}
    </style>
</head>
<body>
  <div id="app">
        <el-container class='home_container'>
          <!-- 侧边栏区域 -->
          <el-aside width="200px">
            <div class="logo">LOGO</div>
            <img src="../assets/image/home/logo.png"  class="logo_image"/>
            <div>李明</div>
            <div class='btn_area'>
               <el-button type="warning" icon="el-icon-setting" circle size='mini'></el-button>
              <el-button type="warning" icon="el-icon-delete" circle size='mini'></el-button>
            </div>
            <el-menu
              default-active="1"
              class="el-menu-vertical-demo"
              active-text-color='#fff'
              router>
              <!-- 一级菜单 -->
              <el-submenu index="1">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>个人办公</span></template>
                <el-menu-item index="dailyWork">日常办公</el-menu-item>
                <el-menu-item index="studyReport">学习报告</el-menu-item>
              </el-submenu>
              <el-submenu index="2">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>项目中心</span></template>
                <el-menu-item index="project">项目</el-menu-item>
                <el-menu-item index="statement">统计报表</el-menu-item>
              </el-submenu>
              <el-submenu index="3">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>行政管理</span></template>
                <el-menu-item index="department">部门管理</el-menu-item>
                <el-menu-item index="staff">职员管理</el-menu-item>
              </el-submenu>
              <el-submenu index="4">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>服务中心</span></template>
                <el-menu-item index="member">会员客户</el-menu-item>
                <el-menu-item index="news">公告新闻</el-menu-item>
                <el-menu-item index="address">通信录</el-menu-item>
              </el-submenu>
              <el-submenu index="5">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>人事酬薪</span></template>
                <el-menu-item index="myAttendance">我的考勤</el-menu-item>
                <el-menu-item index="attendance">考勤管理</el-menu-item>
                <el-menu-item index="performance">业绩管理</el-menu-item>
                <el-menu-item index="mySalary">我的酬薪</el-menu-item>
                <el-menu-item index="agreement">劳动合同</el-menu-item>
                <el-menu-item index="signAgreement">签约合同</el-menu-item>
              </el-submenu>
              <el-submenu index="6">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>财务中心</span></template>
                <el-menu-item index="reimbursement">费用报销</el-menu-item>
                <el-menu-item index="financialStatement">财务报表</el-menu-item>
              </el-submenu>
              <el-submenu index="7">
                <!-- 一级菜单的模板区域 -->
                <template slot="title"><span>客户中心</span></template>
                <el-menu-item index="customList">客户名单</el-menu-item>
                <el-menu-item index="customerDynamics">客户动态</el-menu-item>
              </el-submenu>
            </el-menu>
            </el-aside>
          <el-container>
            <!-- 头部区域 -->
            <el-header>
              <img src="../assets/logo.png" class='logo_top' alt="">
              <div class="div_left">管理员</div>
              <el-button icon="el-icon-circle-close">退出</el-button>
            </el-header>
            <!-- 页面主体区域 -->
            <el-main>
                    <div>
                            <el-row>
                                <el-col class="left_fix"><el-button type='primary' >新增职员</el-button></el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="工号" prop="number">
                                            <el-input v-model="ruleForm.number"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="姓名" prop="name">
                                            <el-input v-model="ruleForm.name"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="性别" prop="sex">
                                            <el-select v-model="ruleForm.kinds" placeholder="性别">
                                                <el-option label="男" value="0"></el-option>
                                                <el-option label="女" value="1"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="证件号码" prop="idCard">
                                            <el-input v-model="ruleForm.idCard"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="户籍" prop="residence">
                                            <el-input v-model="ruleForm.residence"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span=6>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="出生日期" prop="birthDate">
                                            <el-form-item prop="birthDate">
                                                <el-date-picker type="date" placeholder="选择开始日期" v-model="ruleForm.birthDate" style="width: 100%;"></el-date-picker>
                                            </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="供职状态" prop="status">
                                            <el-select v-model="ruleForm.kinds" placeholder="供职状态">
                                                <el-option label="实习" value1="1"></el-option>
                                                <el-option label="试用期" value1="2"></el-option>
                                                <el-option label="正式员工" value1="3"></el-option>
                                            </el-select>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span=6>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="入职日期" prop="joinDate">
                                            <el-form-item prop="joinDate">
                                                <el-date-picker type="date" placeholder="选择开始日期" v-model="ruleForm.joinDate" style="width: 100%;"></el-date-picker>
                                            </el-form-item>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="移动电话" >
                                            <el-input v-model="ruleForm.mobile"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="办公QQ" >
                                            <el-input v-model="ruleForm.qq"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="微信号" >
                                            <el-input v-model="ruleForm.wechat"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="电子邮箱" >
                                            <el-input v-model="ruleForm.email"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col>
                                    <el-upload
                                        class="upload-demo"
                                        action="https://jsonplaceholder.typicode.com/posts/"
                                        multiple
                                        :limit="3">
                                        <el-button size="small" type="primary">点击上传</el-button>
                                        <div slot="tip" class="el-upload__tip">选择上传相片</div>
                                    </el-upload>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col class="left_fix"><el-button type='primary' >部门职位</el-button></el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='5'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                    <el-form-item label="职位" prop="position">
                                        <el-select v-model="ruleForm.position" placeholder="职位">
                                            <el-option label="实习" value2="1"></el-option>
                                            <el-option label="试用期" value2="2"></el-option>
                                            <el-option label="正式员工" value2="3"></el-option>
                                        </el-select>
                                    </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col class="left_fix"><el-button type='primary' >登陆账号</el-button></el-col>
                            </el-row>
                            <el-row>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="登录名" prop='username'>
                                            <el-input v-model="ruleForm.username"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                                <el-col :span='6'>
                                    <el-form :model="ruleForm" :rules="rules" ref="refForm" label-width="100px">
                                        <el-form-item label="密码" >
                                            <el-input v-model="ruleForm.password"></el-input>
                                        </el-form-item>
                                    </el-form>
                                </el-col>
                            </el-row>
                            <el-row class="row_top">
                                <el-col class='main_text'>
                                    <el-button type='warning'>保存</el-button>
                                </el-col>
                            </el-row>
                        </div>
            </el-main>
            </el-container>
            </el-container>
    </div>
</body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data () {
        return {
      // 表格的数据
      ruleForm: {
        number: '',
        kinds: '',
        StartDate: '',
        main: '',
        reportPeople: '',
        reportPosition: '',
        name: '',
        joinPeople: '',
        custom: '',
        idCard: '',
        residence: '',
        birthDate: '',
        value: '',
        value1: '',
        joinDate: '',
        mobile: '',
        qq: '',
        wechat: '',
        email: '',
        value2: '',
        position: '',
        username: '',
        password: ''
      },
      //   表单的验证规则
      rules: {
        number: [ { required: true, message: '请输入工号', trigger: 'blur' } ],
        kinds: [ { required: true, message: '请选择类型', trigger: 'blur' } ],
        birthDate: [ { required: true, message: '请选择开始日期', trigger: 'blur' } ],
        reportPeople: [ { required: true, message: '请输入报告人', trigger: 'blur' } ],
        reportPosition: [ { required: true, message: '请选择报告职位', trigger: 'blur' } ],
        name: [ { required: true, message: '请输入名称', trigger: 'blur' } ],
        joinPeople: [ { required: true, message: '请输入参与人', trigger: 'blur' } ],
        idCard: [ { required: true, message: '请输入证件号码', trigger: 'blur' } ],
        position: [ { required: true, message: '请选择职位', trigger: 'blur' } ],
        username: [ { required: true, message: '登录名', trigger: 'blur' } ]
      }
    }
},
  created () {

  },
  methods: {
    newDepartment () {
      this.$router.push('/newDepartment')
    },
    positionManager () {
      this.$router.push('/positionManager')
    }
}
})
  </script>
</html>